body {
    background-image: url("XNDevelopment-16.jpg");
    background-size: cover;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: normal;
    width: 220px;
    margin-bottom: 5px;
    border-radius: 0px;
}

#increment-btn {
    background: blue;
}

#save-btn {
    background: darkgreen;
}

.blockClicks {
    background-color: whitesmoke;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}